<%= form_with model: [ @post, @post.comments.build ] do |f| %>
  <div>
    <%= f.label :body, 'Comment' %><br>
    <%= f.text_area :body, size: '40x7', autofocus: true %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
