<% like = current_user.likes.find_by(likeable: likeable) %>
<div class="likes">
  <% if like.nil? %>
    <%= button_to 'Like', likes_path, class: 'btn btn-like',
                  params: { like: { likeable_id: likeable.id,
                                    likeable_type: likeable.class.to_s}}%>
  <% else %>
    <%= button_to 'Unlike', like_path(like), class: 'btn btn-unlike', method: :delete %>
  <% end %>

  <span><%= pluralize(likeable.likes.count, 'like') %></span>
</div>
