<%= render @user %>

<h3><%= @title %></h3>

<% if @users.any? %>
    <div class="all-users">
      <% @users.each do |user| %>
        <%= render 'user_link', user: user %>
      <% end %>
    </div>
<% end %>
