<nav class="flex flex-row items-center gap-12 mx-6">
  <h1 class="font-bold text-4xl text-blue-500">FakeBook</h1>

  <% [
    ['Feed', root_path],
    ['Discover', discover_feed_path],
    ['All Users', users_path],
  ].each do |title, url| %>

    <% if current_page?(url) %>
      <%= link_to title, url, class: 'font-medium default-transition px-4 py-2.5 bg-gray-200 dark:bg-slate-800 focus:outline-none focus:ring-0 rounded-md' %>
    <% else %>
      <%= link_to title, url, class: 'font-medium default-transition px-4 py-2.5 hover:bg-gray-200 dark:hover:bg-slate-800 focus:bg-gray-200 dark:focus:bg-slate-800 focus:outline-none focus:ring-0 rounded-md' %>
    <% end %>
  <% end %>

<%= render 'shared/dropdown_menu' %>

</nav>

