<% @user ||= current_user %>

<div class="stats">
  <%= link_to "#{@user.followees.count} following", following_user_path(@user) %>
  <%= link_to "#{@user.followers.count} followers", followers_user_path(@user) %>
</div>
