/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.likes {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  width: fit-content;
  gap: 10px;
}

.btn {
  border: none;
  outline: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 0.9rem;
}

.btn-like {
  background-color: #4caf50;
}

.btn-unlike {
  background-color: #ff453a;
}

li.follow_request {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}

div.user-posts {
  padding-left: 0;
}




p.notice {
  color: green;
}

p.alert {
  color: red;
}

div#posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 600px) {
  div#posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  div#posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  div#posts {
    grid-template-columns: repeat(4, 1fr);
  }
}

div#posts-show > div.post {
  width: 50%;
  margin: 20px 0 40px;
}

div.post {
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid #3333331a;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

div.body,
div.like-btn {
  padding: 0 15px;
}

div.body {
  padding-bottom: 20px;
}

div.username {
  display: flex;
  padding: 1.5rem;
  padding-left: 0.5rem;
  margin-top: 0.375rem;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
}

div.username > a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

div.username > a:hover {
  color: #0088ff;
}

div.comment {
  padding: 0.5rem 1.5rem 1.5rem;
}

a.post-link {
  text-decoration: none;
  color: inherit;
}

a#new_post_btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 60px;
  width: 124px;
  background-color: #00aaff;
  border-radius: 12px;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.8);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  transition: all 0.2s ease-in-out;
}

a#new_post_btn:hover {
  color: rgb(0, 0, 0, 1);
  /* box-shadow: 5px 5px 10px #00000066; */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  scale: 1.03;
}

a#new_post_btn > svg {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  padding-left: 12px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;
}

nav a:not(.sign_out):hover {
  color: #0088ff;
}

nav a.sign_out:hover {
  color: #c73c12;
}

html {
  margin: 0 10px;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

span.timestamp {
  color: #0066ff;
}
